<h1>Your new app to listen to music!</h1>
<p>Search for your favourite song or band and start enjoying our brand new music service!</p>
<form>
  <div class="form-group">
    <label class="col-form-label col-form-label-lg mt-4" for="inputLarge">Search for an artist or a band!</label>
    <input type="text" name="searchArtistValue" class="form-control form-control-lg me-sm-2" autocomplete="off" [(ngModel)]="searchArtistValue" (keyup)="searchArtist()" placeholder="Search artist!">
  </div>
</form>

<div *ngIf="artistResults">
  <div *ngFor="let res of artistResults" class="list-group">
    <div class="row">
      <div class="col-md-12">
        <div class="search-res well">
          <a routerLink="/see-artist/{{res._id}}" class="list-group-item list-group-item-action">
            <h4>{{res.name}}</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<form>
  <div class="form-group">
    <label class="col-form-label col-form-label-lg mt-4" for="inputLarge">Search for an album!</label>
    <input type="text" name="searchAlbumValue" class="form-control form-control-lg me-sm-2" autocomplete="off" [(ngModel)]="searchAlbumValue" (keyup)="searchAlbum()" placeholder="Search an album!">
  </div>
</form>

<div *ngIf="albumsResults">
  <div *ngFor="let res of albumsResults" class="list-group">
    <div class="row">
      <div class="col-md-12">
        <div class="search-res well">
          <a routerLink="/see-album/{{res._id}}" class="list-group-item list-group-item-action">
            <h4>{{res.title}}</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>